div#news-left.pull-left.col-xs-12.col-md-8
  div.news-top
    div.news-top-left.pull-left.text-left.col-xs-4.col-sm-6.col-md-6
      h2 news


  div.news-bottom

      #news-slider.liquid-slider
        div.video-responsive.text-left
          h3.title Introduction
          p
            iframe(src='//www.youtube.com/embed/Clw-qf1sUZg',width='700',height='394',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)

        div#status.text-left
          h3.title Status
          p
            h4 Ether Sale
            p We have not yet announced the date nor the terms of our upcoming Ether sale.
            p We will do so via our twitter feed, this blog and all our other social channels.

            h4 Release date and Mining
            p We expect to launch our live mainnet in Q4 2014. All Ether generated on the testnet is 'play Ether' and is reset regularly to prevent its resale.

            h4 Client downloads
            p The current clients available on this site are purely proofs of concept intended for an advanced technical audience. They do not reflect the final UI of our reference clients.


        div.text-left
          h3.title Twitter
          p
            include twitter.html


        div.text-left
          h3.title Videos
          p
              div.col-xs-6
                div.video-responsive
                  p
                    iframe(src='//www.youtube.com/embed/l9dpjN3Mwps',width='700',height='394',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)
              div.col-xs-6
                div.video-responsive
                  p
                    iframe(src='//www.youtube.com/embed/GJGIeSCgskc',width='700',height='394',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)
              div.col-xs-6
                div.video-responsive
                  p
                    iframe(src='//www.youtube.com/embed/fbEtivJIfIU',width='700',height='394',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)
              div.col-xs-6
                div.video-responsive
                  p
                    iframe(src='//www.youtube.com/embed/rJAEgFz-vjk',width='700',height='394',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)


        div.text-left
          h3.title Links
          div.col-xs-6.text-left

                  a(href='http://forum.ethereum.org',title='Forums')
                    div
                    :markdown
                      Forums

                  a(href='http://blog.ethereum.org',title='Blog')
                    div
                    :markdown
                      Blog

                  a(href='http://wiki.ethereum.org',title='Blog')
                    div
                    :markdown
                      Wiki

                  a(href='https://code.ethereum.org',title='Code')
                    div
                    :markdown
                      Code

                  a(href='http://ethereum.org/ethereum.html',title='Whitepaper')
                    div
                    :markdown
                      Whitepaper

                  a(href='http://gavwood.com/paper.pdf',title='Yello Paper')
                    div
                    :markdown
                      Yellow paper

                  a(href='http://google.com/+EthereumOrgOfficial',title='Google+')
                    div
                    :markdown
                      Google+

                  a(href='https://www.facebook.com/ethereumproject',title='Facebook')
                    div
                    :markdown
                      Facebook

                  a(href='https://www.youtube.com/user/ethereumproject',title='YouTube')
                    div
                    :markdown
                      YouTube

                  a(href='http://www.reddit.com/r/ethereum',title='Reddit')
                    div
                    :markdown
                      Reddit

                  a(href='http://forum.ethereum.org/discussion/797/list-of-ethereum-specific-meetups-live-updates',title='Meetups')
                    div
                    :markdown
                      Meetups

          div.col-xs-6.text-left

                  a(href='http://forum.ethereum.org/discussion/338/general-faq/p1', title='General FAQ')
                    div
                    :markdown
                      General FAQ

                  a(href='http://forum.ethereum.org/discussion/505/writing-smart-contracts-faq-live-updates/p1', title='Smart Contracts')
                    div
                    :markdown
                      Writing Smart Contracts FAQ

                  a(href='http://forum.ethereum.org/discussion/305/go-code-build-faq/p1', title='GoLang')
                    div
                    :markdown
                      GoLang code and Build FAQ

                  a(href='http://forum.ethereum.org/discussion/170/c-code-build-faq/p1', title='C++')
                    div
                    :markdown
                      C++ code and Build FAQ

                  a(href='http://forum.ethereum.org/discussion/171/meetup-faq-live-updates/p1', title='Meetups')
                    div
                    :markdown
                      Meetup FAQ

                  a(href='http://forum.ethereum.org/discussion/197/mining-faq-live-updates',title='Meetups')
                    div
                    :markdown
                      Mining FAQ

div#news-right.pull-right.col-xs-12.col-md-4
  h2 download
  :markdown
    Proof of Concept client

  div.dl-box
    div.dl-row1.col-xs-12
      div.dl-row.pull-left.text-right.col-xs-6
        h5 windows client
      div.dl-row-right.pull-right.text-left.col-xs-6
        a(href='https://code.ethereum.org')
          i.fa.fa-windows.fa-2x.dl-icons

    div.dl-row2.col-xs-12
      div.dl-row-left.pull-left.text-right.col-xs-6
        a(href='https://code.ethereum.org')
          i.fa.fa-apple.fa-2x.dl-icons
      div.dl-row.pull-right.text-left.col-xs-6
        h5 mac client

    div.dl-row3.col-xs-12
      div.dl-row.pull-left.text-right.col-xs-6
        h5 linux source
      div.dl-row-right.pull-right.text-left.col-xs-6
        a(href='https://code.ethereum.org')
          i.fa.fa-linux.fa-2x.dl-icons

    div.dl-row4.col-xs-12
      div.dl-row-left.pull-left.text-right.col-xs-6
        a(href='https://code.ethereum.org')
          i.fa.fa-floppy-o.fa-2x.dl-icons
      div.dl-row.pull-right.text-left.col-xs-6
        h5 build from source

//div.alert.alert-info
//  p
//  :markdown
//    new blogpost!
//    [important statement regarding the ether pre-sale](http://blog.ethereum.org/2014/02/13/important-statement-regarding-the-ether-pre-sale/)

//include twitter.html
